#playersManager .buttonsLine {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: var(--margin);
}

#playersManager .title #playersOptionButton {
	color: var(--color1);
}

#playersManager .title #playersOptionButton:before {
	content: "";
	margin-left: var(--margin);
}