:root {
	--color1: #eac814;
	--color2: #898c68;
	--color3: #353333;
	--color4: #dedede;
	--grad1: linear-gradient(black, #802e2e);
	--grad2: linear-gradient(black, #1a4c18);
	--fontSize1: 7vw;
	--fontSize2: 6vw;
	/* hauteur d'une ligne de menus */
	--lineHeight: 10vw;
	/* marge entre elements de menus*/
	--margin: 2vw;
	/* bordure des elements de menus */
	--border: 2px;

	/* taille des espaces intertuile et des bordures */
	--M: 2px;
	/* hauteur d'une tuile */
	--H: calc(50vw - var(--M) * 1.5);
	/* hauteur d'une tuile en disposition 2 joueurs */
	--H_2: calc(50vh - var(--M) * 1.5);
	/* largeur des tuiles du bas */
	--W_B: calc(100vw - var(--M) * 2);
	/* largeur d'une tuile en disposition 2 joueurs */
	--W_2: calc(100vw - var(--M) * 2);
	/* largeur d'une tuile des cotés en disposition 3 joueurs */
	--W_3_S: calc(100vh - 50vw - var(--M) * 1.5);
	/* largeur d'une tuile des cotés en disposition 4 joueurs */
	--W_4_S: calc(50vh - var(--M) * 1.5);
	/* largeur d'une tuile des cotés en disposition 5 joueurs */
	--W_5_S: calc((100vh - 50vw - var(--M) * 2.5) / 2);
	/* largeur d'une tuile des cotés en disposition 4 joueurs */
	--W_6_S: calc((100vh - var(--M) * 4) / 3);
}

/* désactive la sélection utilisateur */
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 0px;
	background-color: var(--color1);
	color: var(--color1);
	font-family: Arial, sans-serif;
	font-weight: bold;
	overscroll-behavior-y: contain;
}

#app {
    overflow: hidden;
    position: fixed;
}

.menu {
	width: 100vw;
	height: 98vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 2vh;
}

.menu #title {
    display: flex;
    justify-content: center;
    font-size: var(--fontSize1);
    color: var(--color4);
    margin-top: 6vh;
}

.menu #options {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.menu #options div {
	margin-bottom: var(--margin);
}

.menu #options .menuOption {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu #options .menuOption .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSize2);
    color: var(--color2);
}