#gameMenu .squareButton {
	width: var(--lineHeight);
	height: var(--lineHeight);
	border-radius: 1vw;
	border: var(--border) solid var(--color1);
	color: var(--color1);
	font-size: var(--fontSize2);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: calc(var(--margin) / 2);
	margin-right: calc(var(--margin) / 2);
}

#gameMenu .squareButton.active {
	color: var(--background);
	background-color: var(--color1);
}