#gameMenu {
	width: 100vw;
	height: 98vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 2vh;
}

#gameMenu #title {
    display: flex;
    justify-content: center;
    font-size: var(--fontSize1);
    color: var(--color4);
    margin-top: 6vh;
}

#gameMenu #options {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

#gameMenu #options div {
	margin-bottom: var(--margin);
}

#gameMenu .squareButton {
	width: var(--lineHeight);
	height: var(--lineHeight);
	border-radius: 1vw;
	border: var(--border) solid var(--color1);
	color: var(--color1);
	font-size: var(--fontSize2);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: calc(var(--margin) / 2);
	margin-right: calc(var(--margin) / 2);
}

#gameMenu .squareButton.active {
	color: black;
	background-color: var(--color1);
}