#board {
	width: 100vw;
	height: 100vh;
}

#tile12 {
	width: var(--W_2);
	height: var(--H_2);
    transform: rotate(180deg);
    position: absolute;
    top: var(--M);
    left: var(--M);
}

#tile22 {
	width: var(--W_2);
	height: var(--H_2);
    position: absolute;
    top: calc(var(--H_2) + var(--M) * 2);
    left: var(--M);
}

#tile13 {
	width: var(--W_3_S);
	height: var(--H);
    transform: rotate(90deg);
    transform-origin: calc(var(--H) / 2) calc(var(--H) / 2);
    position: absolute;
    top: var(--M);
    left: var(--M);
}

#tile23 {
	width: var(--W_3_S);
	height: var(--H);
    transform: rotate(-90deg);
    transform-origin: calc(var(--W_3_S) / 2) calc(var(--W_3_S) / 2);
    position: absolute;
    top: var(--M);
    left: calc(var(--H) + var(--M) * 2);
}

#tile33 {
	width: var(--W_B);
	height: var(--H);
	position: absolute;
	bottom: var(--M);
	left: var(--M);
}

#tile14 {
	width: var(--W_4_S);
	height: var(--H);
    transform: rotate(90deg);
    transform-origin: calc(var(--H) / 2) calc(var(--H) / 2);
    position: absolute;
    top: calc(var(--W_4_S) + var(--M) * 2);
    left: var(--M);
}

#tile24 {
	width: var(--W_4_S);
	height: var(--H);
    transform: rotate(90deg);
    transform-origin: calc(var(--H) / 2) calc(var(--H) / 2);
    position: absolute;
    top: var(--M);
    left: var(--M);
}

#tile34 {
	width: var(--W_4_S);
	height: var(--H);
    transform: rotate(-90deg);
    transform-origin: calc(var(--W_4_S) / 2) calc(var(--W_4_S) / 2);
    position: absolute;
    top: var(--M);
    left: calc(var(--H) + var(--M) * 2);
}

#tile44 {
	width: var(--W_4_S);
	height: var(--H);
    transform: rotate(-90deg);
    transform-origin: calc(var(--W_4_S) / 2) calc(var(--W_4_S) / 2);
    position: absolute;
    top: calc(var(--W_4_S) + var(--M) * 2);
    left: calc(var(--H) + var(--M) * 2);
}

#tile15 {
	width: var(--W_5_S);
	height: var(--H);
    transform: rotate(90deg);
    transform-origin: calc(var(--H) / 2) calc(var(--H) / 2);
    position: absolute;
    top: calc(var(--W_5_S) + var(--M) * 2);
    left: var(--M);
}

#tile25 {
	width: var(--W_5_S);
	height: var(--H);
    transform: rotate(90deg);
    transform-origin: calc(var(--H) / 2) calc(var(--H) / 2);
    position: absolute;
    top: var(--M);
    left: var(--M);
}

#tile35 {
	width: var(--W_5_S);
	height: var(--H);
    transform: rotate(-90deg);
    transform-origin: calc(var(--W_5_S) / 2) calc(var(--W_5_S) / 2);
    position: absolute;
    top: var(--M);
    left: calc(var(--H) + var(--M) * 2);
}

#tile45 {
	width: var(--W_5_S);
	height: var(--H);
    transform: rotate(-90deg);
    transform-origin: calc(var(--W_5_S) / 2) calc(var(--W_5_S) / 2);
    position: absolute;
    top: calc(var(--W_5_S) + var(--M) * 2);
    left: calc(var(--H) + var(--M) * 2);
}

#tile55 {
	width: var(--W_B);
	height: var(--H);
	position: absolute;
	bottom: var(--M);
	left: var(--M);
}

#tile16 {
    width: var(--W_6_S);
    height: var(--H);
    transform: rotate(90deg);
    transform-origin: calc(var(--H) / 2) calc(var(--H) / 2);
    position: absolute;
    top: calc(var(--W_6_S) * 2 + var(--M) * 3);
    left: var(--M);
}

#tile26 {
    width: var(--W_6_S);
    height: var(--H);
    transform: rotate(90deg);
    transform-origin: calc(var(--H) / 2) calc(var(--H) / 2);
    position: absolute;
    top: calc(var(--W_6_S) + var(--M) * 2);
    left: var(--M);
}

#tile36 {
    width: var(--W_6_S);
    height: var(--H);
    transform: rotate(90deg);
    transform-origin: calc(var(--H) / 2) calc(var(--H) / 2);
    position: absolute;
    top: var(--M);
    left: var(--M);
}

#tile46 {
    width: var(--W_6_S);
    height: var(--H);
    transform: rotate(-90deg);
    transform-origin: calc(var(--W_6_S) / 2) calc(var(--W_6_S) / 2);
    position: absolute;
    top: var(--M);
    left: calc(var(--H) + var(--M) * 2);
}

#tile56 {
    width: var(--W_6_S);
    height: var(--H);
    transform: rotate(-90deg);
    transform-origin: calc(var(--W_6_S) / 2) calc(var(--W_6_S) / 2);
    position: absolute;
    top: calc(var(--W_6_S) + var(--M) * 2);
    left: calc(var(--H) + var(--M) * 2);
}

#tile66 {
    width: var(--W_6_S);
    height: var(--H);
    transform: rotate(-90deg);
    transform-origin: calc(var(--W_6_S) / 2) calc(var(--W_6_S) / 2);
    position: absolute;
    top: calc(var(--W_6_S) * 2 + var(--M) * 3);
    left: calc(var(--H) + var(--M) * 2);
}

#optionsButton {
    position: absolute;
    width: var(--lineHeight);
    height: var(--lineHeight);
    background-image: url(../ressources/options.png);
    border: var(--border) solid var(--color1);
    border-radius: var(--lineHeight);
    z-index: 1;
    background-size: var(--lineHeight) var(--lineHeight);
    left: calc(50vw - var(--lineHeight) / 2 - var(--border));
}

#optionsButton.optionsButton2, #optionsButton.optionsButton4, #optionsButton.optionsButton6 {
    top: calc(50vh - var(--lineHeight) / 2 - var(--border));
}

#optionsButton.optionsButton3 {
    top: calc(var(--W_3_S) + var(--M) * 1.5 - var(--lineHeight) / 2 - var(--border));
}

#optionsButton.optionsButton5 {
    top: calc(var(--W_5_S) + var(--M) * 1.5 - var(--lineHeight) / 2 - var(--border));
}