.playerTile {
	/* hauteur des boutons annexes */
	--H_A: calc(10vw);
	/* hauteur du cadre principal */
	--H_M: calc(var(--H) - var(--H_A));
	/* hauteur du nom */
	--H_N: 8vw;
	/* rayon des coins de la tuile */
	--B_R: 3vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	background-color: var(--background);
	border-radius: var(--B_R);
}

.playerTile .commanderDamagePopup {
	height: calc(var(--H) - var(--H_A));
	background: var(--background);
	z-index: 2;
	position: absolute;
	border-radius: var(--B_R);
	display: flex;
	flex-grow: 1;
	overflow: hidden;
	transition: width 0.1s, margin-left 0.1s;
}

.playerTile .commanderDamagePopup.closed {
	width: 0px;
	margin-left: 100%
}

.playerTile .commanderDamagePopup.open {
	width: 100%;
	margin-left: 0px;
}

.playerTile .mainCounter {
	height: var(--H_M);
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.playerTile .mainCounter .lifePlus {
	height: var(--H);
	width: 50%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--H_M) - var(--H_N) - 3vw);
	color: var(--color3);
}

.playerTile .mainCounter .lifePlus:before {
	content: "";
	width: 40%;
}

.playerTile .mainCounter .lifeMinus {
	height: var(--H);
	width: 50%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--H_M) - var(--H_N) - 3vw);
	color: var(--color3);
}

.playerTile .mainCounter .lifeMinus:after {
	content: "";
	width: 40%;
}

.playerTile .mainCounter .playerLife {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--H_M) - var(--H_N));
	font-size: calc(var(--H_M) - var(--H_N) - 8vw);
	position: absolute;
	top: var(--H_N);
	left: 0px;
	text-align: center;
	color: var(--color1);
}

@keyframes lowLife {
	from {
		text-shadow: 0 0 0 var(--lowLifeGlow);
	}

	15% {
		text-shadow: 0 0 15px var(--lowLifeGlow);
	}

	45% {
		text-shadow: 0 0 0px var(--lowLifeGlow);
	}

	to {
		text-shadow: 0 0 0 var(--lowLifeGlow);
	}
}

.playerTile .mainCounter .playerLife.lowLife {
	text-shadow: 0 0 0 var(--background);
	animation: lowLife;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.playerTile .mainCounter .playerLife.dead {
	color: var(--lowLifeGlow);
}

.playerTile .mainCounter .playerName {
	width: 100%;
	height: var(--H_N);
	font-size: var(--H_N);
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	color: var(--color2);
}

.playerTile .annexeCounters {
	z-index: 1;
	height: var(--H_A);
	display: flex;
	flex-direction: row;
}

.playerTile .annexeCounters .poison {
	width: 50%;
	background: var(--grad2);
	border-bottom-left-radius: var(--B_R);
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: var(--H_A);
	font-size: var(--H_A);
	line-height: var(--H_A);
}

.playerTile .annexeCounters .poison .poisonPlus {
	z-index: 1;
	width: 50%;
	color: var(--color3);
	font-weight: bolder;
	text-align: center;
}

.playerTile .annexeCounters .poison .poisonPlus:before {
	content: "";
	margin-left: 20%;
}

.playerTile .annexeCounters .poison .poisonMinus {
	z-index: 1;
	width: 50%;
	color: var(--color3);
	font-weight: bolder;
	text-align: center;
}

.playerTile .annexeCounters .poison .poisonMinus:after {
	content: "";
	margin-right: 20%;
}

.playerTile .annexeCounters .poison .poisonDamage {
	position: absolute;
	width: 50%;
	color: var(--color1);
	text-align: center;
}

.playerTile .annexeCounters .commanderDamage {
	width: 50%;
	background: var(--grad1);
	border-bottom-right-radius: var(--B_R);
	height: var(--H_A);
	font-size: var(--H_A);
	line-height: var(--H_A);
	text-align: center;
	color: var(--color1);
}