#parametersMenu #options #vibrationOption .buttonsLine {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: var(--margin);
}

#parametersMenu .rectButton {
	width: calc(var(--lineHeight) * 1.5);
	height: var(--lineHeight);
	border-radius: 1vw;
	border: var(--border) solid var(--color1);
	color: var(--color1);
	font-size: var(--fontSize2);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: calc(var(--margin) / 2);
	margin-right: calc(var(--margin) / 2);
}

#parametersMenu .rectButton.active {
	color: black;
	background-color: var(--color1);
}