.dice {
	--diceSize: calc((100% - var(--border) * 2) * 5 / 6);
	--dotSize: calc(var(--diceSize) / 4);
	--diceMargin: calc(var(--diceSize) / 10);
	--diceColor: var(--color1);
	position: absolute;
	width: var(--diceSize);
	height: var(--diceSize);
	border: var(--border) solid var(--diceColor);
	border-radius: 1vw;
	display: flex;
	flex-direction: row;
	padding: var(--diceMargin);
	justify-content: space-between;
	transition-property: all;
	transition-duration: 0.1s;
}

.dice.rolling {
	width: 0px;
	height: 0px;
	margin-top: calc(50% - var(--border) - var(--diceMargin));
	margin-left: calc(50% - var(--border) - var(--diceMargin));
}

.dice .diceSideCol {
	width: var(--dotSize);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dice .diceMidCol {
	width: var(--dotSize);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dice .dot {
	width: 100%;
	padding-top: 100%;
	border-radius: 100vw;
	background-color: rgba(0,0,0,0);
}

.dice .dot.on {
	background-color: var(--diceColor);
}